Django==3.1
djangorestframework==3.11.1
pre-commit==1.20.0
Pygments==2.15.0
mysqlclient==2.0.1
factory-boy==3.0.1
django-easy-audit==1.2.3
requests==2.24.0
humanize==2.6.0
slack==0.0.2
boto3==1.14.43
image==1.5.32
slackclient==2.8.0
django-push-notifications==2.0.0
py3-validate-email==0.2.9
python-twitter==3.5
aws-requests-auth==0.4.3
elasticsearch==7.8.1
elasticsearch-dsl==7.2.1
celery==4.4.7
redis==3.5.3
python-memcached==1.59
django-slack==5.15.2