Django==2.2.10
djangorestframework==3.10.3
pre-commit==1.20.0
Pygments==2.5.2
mysqlclient==1.4.6
factory_boy==2.12.0
django-easy-audit==1.1.1
requests==2.22.0
humanize==0.5.1
slack==0.0.2
boto3==1.11.11
image==1.5.28
slackclient==2.5.0
django-push-notifications==2.0.0