aiohttp==3.8.3
aiosignal==1.3.1
amqp==5.1.1
aniso8601==9.0.1
apns2==0.7.2
asgiref==3.5.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
aws-requests-auth==0.4.3
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
boto3==1.26.21
botocore==1.29.21
celery==5.2.7
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==38.0.4
decorator==5.1.1
distlib==0.3.6
Django==4.1.3
django-blacklist==0.4.1
django-easy-audit==1.3.3
django-push-notifications==3.0.0
django-slack==5.18.0
djangorestframework==3.14.0
dnspython==2.2.1
executing==1.2.0
factory-boy==3.2.1
Faker==15.3.4
filelock==3.8.0
frozenlist==1.3.3
graphene==3.1.1
graphene-django==3.0.0
graphql-core==3.2.3
graphql-relay==3.2.0
h2==2.6.2
hpack==3.0.0
humanize==4.4.0
hyper==0.7.0
hyperframe==3.2.0
identify==2.5.9
idna==3.4
image==1.5.33
ipython==8.7.0
jedi==0.18.2
jmespath==1.0.1
kombu==5.2.4
matplotlib-inline==0.1.6
mod-wsgi==4.9.4
multidict==6.0.2
nodeenv==1.7.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.4
pre-commit==2.20.0
promise==2.3
prompt-toolkit==3.0.33
ptyprocess==0.7.0
pure-eval==0.2.2
py3-validate-email==1.0.5.post1
pycparser==2.21
Pygments==2.13.0
PyJWT==1.7.1
pymemcache==4.0.0
PyMySQL==1.0.2
python-dateutil==2.8.2
python-memcached==1.59
pytz==2022.6
PyYAML==6.0
redis==4.4.0
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
slack==0.0.2
slackclient==2.9.4
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.6.2
text-unidecode==1.3
toml==0.10.2
traitlets==5.6.0
urllib3==1.26.13
vine==5.0.0
virtualenv==20.17.0
wcwidth==0.2.5
yarl==1.8.1
