
{% load static %}

<html>
<title>Holidaily</title>
<head>
    <link rel="shortcut icon" type="image/png" href="/static/base/img/favicon.ico"/>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e87991b19f8b500194f2cc3&product=inline-follow-buttons&cms=website' async='async'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/base/style/style.css?v={{version}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
        body{
            background-color:#FFFFFF;
        }
        .container{
            text-align: center;
            margin-top: 100px;
        }

        #icon{
            width: 50%;
            margin: 170px 0px 0px -180px;
        }
        #wrapper-mobile{
            display: none;
        }
        #storelinks{
            cursor: pointer;
            margin: 30px 190px 0px 0px;
            opacity: 1;
        }
        </style>
<script>
$( document ).ready(function() {

        var userAgent = navigator.userAgent || navigator.vendor || window.opera;
        var inUrl = document.location.href;
        var toApp = "holidaily://holiday?"+inUrl.split("?")[1];

        if( inUrl.indexOf("?") > -1 ){
            if (/android/i.test(userAgent)) {
                window.location = toApp;
                // setTimeout(function() {
                //     //window.location = 'https://play.google.com'
                //     alert("Holidaily is coming to the Google Play Store soon. Stay tuned!");
                // }, 3000);
            }

            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                window.location = toApp;
                // setTimeout(function() {
                //     //window.location = 'https://www.apple.com/ios/app-store'
                //     alert("Holidaily is coming to the iOS AppStore soon. Stay tuned!");
                // }, 3000);
            }
        }else{
            if (/android/i.test(userAgent)) {
                // setTimeout(function() {
                //     window.location = 'https://play.google.com/store/apps/details?id=com.divinity.holidailyapp'
                // }, 1000);
            }

            if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                //  setTimeout(function() {
                //      window.location = 'https://testflight.apple.com/join/FNzb5yCO'
                //  }, 3000);
            }
        }
    })
</script>

</head>
    <body>
        <div class="container">
            <div id="mockup" style="float: left;">
                <img src="/static/base/img/Mockups_nexus_5_iphone_8.png" />
            </div>
            <div id="mockup-mobile">
                    <img src="/static/base/img/Mockups_nexus_5_iphone_8.png"  />
            </div>
            <div id="wrapper" >
                <img id="icon" src='/static/base/img/holidaily-banner-tagline-cropped.png' />
            </div>
            <div id="storelinks">
                <img alt='Get it on Google Play' src='/static/base/img/google-play-badge.png'
                    onclick="window.location='https://play.google.com/store/apps/details?id=com.divinity.holidailyapp'" />
                <img src='/static/base/img/appstore-badge.png'
                    onclick="window.location='https://apps.apple.com/us/app/holidaily-find-holidays/id1449681401?ls=1'" />
                <br /><br />
                <div class="sharethis-inline-follow-buttons"></div>
            </div>
        </div>
    </body>
</html>