{% load staticfiles %}
<html>
    <title>Holidaily</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/base/style/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/base/style/style.css?v={{version}}" />
        {% if failure %}
            <script>
            $( document ).ready(function() {
            $("#error_text").show();
            });
            </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div class="card card-container">
                <h6 class='login_title text-center'><img width="100" height="100" style="margin-top:10px;"
                                                         src='/static/base/img/holidaily-logo-1-inverted.png' /></h6>
                {%  if valid_link %}
                    <form method="post" id="changepassform">{% csrf_token %}
                        <input style="width:100%;" id="id_new_password1" name="new_password1" placeholder="new password"
                               type="password" required> <br /><br />
                         <input style="width:100%;" id="id_new_password2" name="new_password2" placeholder="repeat password"
                                type="password"  required>
                        {% if form is not None and not valid_form %}
                            <div style="color:red; text-align: center;margin-top: 5px;">
                                Your passwords don't match, or your password is invalid, please try again.
                            </div>
                        {%  endif %}
                        <div class="btncont">
                         <br />
                         <center><a style="font-size: 9pt;height: 40px; line-height: 20px;"
                                    class='btn btn-lg btn-primary' href="#" value='Change my password'
                                    onclick="$('#changepassform').submit();"> Change my password </a></center>
                         </div>
                     </form>
                {%  else %}
                    <div class="denied" style="text-align: center;color:red;">
                        That's an invalid password reset link. <a href="/portal/recover">Please try again.</a>
                    </div>
                {%  endif %}
            </div>
        </div>
    </body>
</html>