{% load staticfiles %}
<html>
    <title>Holidaily</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/base/style/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/base/style/style.css?v={{version}}" />
        {% if failure %}
            <script>
            $( document ).ready(function() {
            $("#error_text").show();
            });
            </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div class="card card-container">
                <h6 class='login_title text-center'><img width="100" height="100" style="margin-top:10px;" src='/static/base/img/holidaily-logo-1-inverted.png' /></h6>
                <div style="text-align: center; color:green;">Password successfully changed!</div>
            </div>
        </div>
    </body>
</html>