{% extends "admin/base_site.html" %}

{% block title %}Holidaily Admin{% endblock %}
{%  block main %}
    test
{% endblock %}
{% block head %}
asdf
{% endblock %}
{% block extrahead %}
    <link rel="icon" href="/static/base/img/favicon.ico" sizes="48x48" />
        <style>
        .module h2, .module caption, .inline-group h2, #header{
            background-color: #4c96e8;
            color: #FFFFFF;
        }
        a:link, a:visited {
            color: #4c96e8;
        }
        div.breadcrumbs{
            background-color: #81B5EE;
        }
        input[type="submit"], button {
            background-color: #81B5EE;
        }
        input[type="submit"].default, .submit-row input.default {
             background-color: #4c96e8;
        }
        table.caption{
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img class="brand_img" src="/static/base/img/logo-white.png" height="40" alt="logo">
        </a>
    </h1>
{% endblock %}
