

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Holidaily - Shop{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <!-- Bootstrap core CSS -->
  <link href="../../static/shop/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../static/shop/css/shop-homepage.css" rel="stylesheet">

</head>
{% endblock %}

<body>

  <!-- Navigation -->
    {#  todo make universal navbar common css with these style updates#}
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #4c96e8;padding: 5px;">
    <div class="container">
      <a class="navbar-nav" href="/shop"><img src="/static/base/img/logo-white.png" style="height: 40px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">About Us</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Services</a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">Contact</a>#}
{#          </li>#}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4" style="color: #4c96e8; font-family: harlow">Shop</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Apparel</a>
          <a href="#" class="list-group-item">Misc</a>
{#          <a href="#" class="list-group-item">Category 3</a>#}
        </div>

      </div>
      <!-- /.col-lg-3 -->

    {% block content %}

      <!-- /.col-lg-9 -->
    {% endblock %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5" style="background-color: #4c96e8;padding: 5px;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Crater Applications 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../../static/shop/vendor/jquery/jquery.min.js"></script>
  <script src="../../static/shop/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
