{% extends "shop/base.html" %}

{% block head %}
    {{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/static/shop/main.js"></script>
{% endblock %}

{% block title %}
    Holidaily - {{ product.name }}
{% endblock %}

{% block content %}
      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{ product.preview_image }}" alt={{ product.name }}"">

          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>${{ product.price }}</h4>
            <p><a href="#" class="btn btn-success" id="submitBtn">Purchase</a></p>
            <p class="card-text">{{ product.description }}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">

              {% for r in reviews %}
                <p>{{ r.content }}</p>
                    <small class="text-muted">Posted by {{ r.user.username }} on {{ r.timestamp }}</small>
                <hr>
                  {% empty %}
                <p>This product has no reviews.</p>
              {% endfor %}

            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
{% endblock %}
